.App {
    /* text-align: center; */
    position: relative;
}

.App-logo {
    height: 5vmin;
    pointer-events: none;
}

.App-nav {
    background-color: #FFB81C;
    border-bottom-color: #000000;
    overflow: hidden;
    position: relative;
}

.App-nav-logo {
    position: relative;
    display: inline-block;
}

.App-nav-dropdown {
    position: relative;
    left: 10px;
    display: inline-block;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-body {
    background-color: #282c34;
    /* min-height: 100vh; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
    /* display: block; */
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}